<footer class="footerST">
            <div class="">
                <hr>
                <p class="">Интернет магазин цветов, букетов на праздники.</p>
            </div>
            <div class="footerLinks">
                <h5 class="">Links</h5>
                <ul>
                    <li><a href="/">Main</a></li>
                    <li><a href="/auth">Log on</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/infoAPIPage">Info</a></li>
                </ul>
            </div>
            <div class="footer-copyright">
                <h5 class="">«Я знаю только то, что ничего не знаю, но другие не знают и этого» ©Cократ</h5>
                <div class="container">
                    © 2021 Copyright Text
                </div>
            </div>
</footer>