<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/icon.png">
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="/navbarStyles.css">
    <link rel="stylesheet" type="text/css" href="/infoApiStyles.css">
    <link rel="stylesheet" type="text/css" href="/footerStyle.css">
    <link rel="stylesheet" type="text/css" href="/deliveryFormStyle.css">
    <title>{{title}}</title>
</head>