<nav class="navImg">
        <div class="navbarStyle">
            <a href="/">Products</a>
            <a href="/create">Create</a>
            <a href="/infoAPIPage">Info</a>
            <a href="/login">Login</a>
            <a class="navRight" href="/auth">RegPage</a>
        </div>
        <div class="navbarCart">
            <label for="profIcon">Your profile</label>
             <a name="profIcon" id="profIcon" href="/userPage"><img  class="cartIcon profileIcon" src="/userIconDONE.png"></a>
            <label for="yourCart">Your cart</label>
            <a href="/cart" name="yourCart"><img class="cartIcon" src="/cartIconDONE.png"></a>
        </div>
</nav>
