<form class="authStyle" action="/auth" method="post">
    <div class="inputField">
        <label class="authLabel" for="username">Enter your name</label>
        <input class="loginInput"  type="text" name="username" placeholder="Your name">
    </div>
    <div class="inputField">
        <label class="authLabel" for="email">Enter your email</label>
        <input class="loginInput" type="email" name="email" placeholder="Your email">
    </div>
    <div class="inputField">
        <label class="authLabel" for="password">Enter your password</label>
        <input class="loginInput" type="password" name="password" placeholder="Your password">
    </div>
    <button type="submit" class="btn" >Log ON</button>
</form>