<h1>Product that you want to buy</h1>
<table>
    <th>Название товара</th>
    <th>Цена товара</th>
    <th>Количество</th>
    <tr>
        <td>{{productName}}</td>
        <td>{{price}}</td>
    </tr>
</table>