<form action="/create" method="post">
    <h2>Create product</h2>
    <div>
        <script src="/srcImgAdding.js"></script>
        <label for="createInput">Product name</label>
        <input class="input-field" id="createInput" type="text" name="productName">

        <label for="priceOfProd">Product price $</label>
        <input class="input-field" id="priceOfProd" type="number" name="price">

        <label for="imgSrc">Product image</label>
        <input id="imgOfProduct" name="imgSrc" type="file" accept=".jpg, .jpeg, .png">
    </div>
    <button type="submit" class="btn">Create product</button>
</form>
