<form action="/delivery" method="post">
    <div class="deliveryForm">
        <div class="deliveryInputs" id="personInfo">
            <label for="fullname">Enter your name:</label><span class="required">*</span>
            <input class="deliveryPersonInfoInput" name="fullname" required="required" type="text" placeholder="Name">
            <br>
            <hr class="deliveryHr">
            <label for="surname">Enter your second name:</label><span class="required">*</span>
            <input class="deliveryPersonInfoInput" name="surname" required="required" type="text"
                   placeholder="Second name">
            <hr class="deliveryHr">
        </div>
        <div class="deliveryInputs" id="personContact">
            <label for="phoneNum">Enter your phone number. </label><span>(Start entering with "0")</span><span class="required">*</span>
            <input class="deliveryPersonInfoInput" name="phoneNum" required="required" type="tel" minlength="10" maxlength="10">
            <br>
            <hr class="deliveryHr">
            <label for="email">You can enter your email address if you want to get message</label>
            <input class="deliveryPersonInfoInput" name="email" type="email" placeholder="Email">
            <hr class="deliveryHr">
        </div>
        <div class="deliveryInputs" id="personAddress">
            <label for="delAddress">Enter your delivery address here</label><span class="required">*</span>
            <input class="deliveryPersonInfoInput" name="delAddress" required="required" type="text"
                   placeholder="Where you want to get delivery">
            <hr class="deliveryHr">
        </div>
        <div>
            <button class="btn" type="submit">Click here</button>
        </div>
    </div>
</form>