<h2>Товары в наличии</h2>
<div id="productPage" class="productPage content">

{{#if todos.length}}
    <ul class="productList">
        {{#each todos}}
            <li>
                <div class="product" id="newProd">
                    <img class="prodImg" src="../defaultProductImg.png" alt="Any img">
                        <div id="productInfo">
                             <h5><span>{{productName}}</span></h5>
                             <span>{{price}} $</span>
                        </div>
                    <button class="btn btn-small">Buy</button>
                </div>
            </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No todos!</p>
{{/if}}
</div>
