<h2>Information about our service</h2>

<div class="infoStyleTxt" id="firstDescription">
    <span id="descriptionInfo">Мы обожаем цветы, но еще больше — людей. А ещё — новые технологии.
        Поэтому с первой секунды вашего обращения и до самой доставки  — мы с вами.
        В каждой ситуации. В любом формате.
    </span>
    <div class="description">
         <p><label for="imgInfoApi">Our flowers looks like this</label></p>
         <img id="imgInfoApi" src="/buketOnInfoPage.jpg" alt="Flowers">
    </div>
    <div>
    <span>
        Hfasdjaskdjkasjdasklaksjdkasjdaksjdkjasdjklasjsdsadasdasdasdas
        <p>dadasdasdasdasdasdadasdadasdasdasd</p>
        <p>adasdasdasdadadaaaaaaaaaaaaaaaaaaaaaaaaaaaaddadsdadsa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
                <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
                <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
        <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
                <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
                <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
                <p>dadsawdarfsadsafsffasddasfafafaasfa</p>
    </span>
    </div>

    <div class="infoStyleTxt">
        <span>Наш сервис работает круглые сутки, и мы всегда ждем ваших заказов.</span>
        <span>Для заказа букета перейдите на страницу товаров и добавьте необходимые позиции в вашу корзину.
    Для удобной работы с заказами авторизируйтесь на сайте.</span>
    </div>
</div>
