<form class="authStyle" action="/login" method="post">
    <div class="loginItems">
    <div class="inputField">
        <label class="authLabel" for="username">Enter your name</label>
        <input  id="loginInputName" class="loginInput" type="text" name="username" placeholder="Your name">
    </div>
    <div class="inputField">
        <label class="authLabel" for="password">Enter your password</label>
        <input class="loginInput" type="password" name="password" placeholder="Your password">
    </div>
        <div class="logButtons">
            <button id="subBTN" type="submit" class="btn" >Log in</button>
            <input type="button" class="createAccountBTN" value="Create account" onClick='location.href="/auth"'>
        </div>
    </div>
    <div>
        <img class="backMainImg" src="/backRoseForLogin.png">
    </div>
</form>
