<div>
    <h1>Your account</h1>
</div>
<div class="userPageDelInfo">
    <p><span id="storageUserName"></span></p>
    <hr class="hrClass">
    <p><span id="storageUserRole"></span></p>
    <hr class="hrClass">
    <script src="../scripts.js"></script>
</div>
<div>
    Some info need to add, please!
</div>
<div class="userPageDelInfo">
    Ну тут еще товары должны быть, эээ...типо..цена их, картинки по хорошему...хз, еще надо что-то добавить...Диплом все-таки...
</div>
<div class="toDeliveryPage">
    <label for="deliveryLink">If you ready to tell address for delivery - you can tap the button below</label>
    <hr>
    <input class="toDeliveryFormBtn" name="deliveryLink" type="button" value="Submit your delivery address" onClick='location.href="/delivery"'>
</div>