.toDeliveryPage {
    font-size: 22px;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #e8c261;
}

.deliveryInputs {
    height: 100px;
    width: 800px;
}

.deliveryForm {
    font-size: 20px;
    margin: 40px;
}

.toDeliveryFormBtn {
    height: 40px;
    width: 200px;
    background: #e6b065;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 15px;
}

.deliveryPersonInfoInput {
    float: right;
    height: 20px;
    background-color: #e3bf8a;
}

.deliveryHr {
    background-color: lightslategray;
    margin-top: 10px;
}

.required
{
    color: red;
}