 .footerST {
     font-size: 20px;
      background: #e6b065;
      left:0;
      bottom:0;
      width:100%;
      height: auto;
      max-height: 200px;
      margin-top: 100px;
      flex: 0 0 auto;
}


 .footerST a {
     color: black;
 }

 .footerLinks {
     align-items: center;
     margin-left: 80%;
     color: black;
 }

 hr {
     border: none;
     height: 3px;
     background-color: black;
 }


 .txtColor {
      color: inherit;
 }


