* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e6b065;
    font-size: 17px;
    font-style: oblique;
    position: relative;
}

div {
    /*text-align: center;*/
}


*html #container {
    /*height: expression(document.body.clientHeight > 50? "100%" :"50px"); */
}


ul {
    list-style-type: none;
}


.content {
    flex: 1 0 auto;
    width: 90%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.backMainImg {
    background-color: transparent;
    width: 500px;
    height: 600px;
    opacity: 0.7;
    float: right;
}

.productPage {
    position: relative;
    /*margin-bottom: 190px;*/
}


.productList {
    /*width: 50%;*/
    display: flex;
    flex-wrap:wrap;
    height: 300px;
    vertical-align: center;
    margin-left: 50px;
    margin-right: 50px;
    /*margin-bottom: 300px;*/
    padding-bottom: 300px;
}


.emptyField {
    border: 3px red;
}

.product {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 100px;
    /*otstupi ot el +++ */
}

#productInfo {
    margin: 15px;
}

.prodImg {
    height: 100px;
    width: 50px;
    background: none;
}

.authStyle {
    margin-top: 100px;
    word-spacing: 5px;
    letter-spacing: 1px;
    padding: 10px;
    width: 50%;
}

.inputField {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    padding: 1em;
}

.authLabel {
    width: 200px;
}

/*label {*/
/*    float:left;*/
/*    padding-right: 10px;*/
/*    width: 200px;*/
/*}*/

.createAccountBTN {
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    background: #e3b854;
    border-radius: 10px;
    padding: 1em;
}

button {
    margin-left: 80px;
    margin-top: 10px;

    /*display: flex;*/
    /*align-items: inherit;*/
    /*justify-content: space-around;*/
    background: #e3b854;
    border-radius: 10px;
    padding: 1em;
}

.loginItems {
    margin: 20px;
    align-content: center;
    float: left;
}

.loginInput {
    margin-left: 20px;
    height: 30px;
    background: #e3bf8a;
    border-radius: 10px;
}

.hrClass {
    width: 40%;
}

.userPageDelInfo {
    margin-top: 40px;
    font-family: cursive;
    font-size: 25px;
}

.bodyClass {
    min-height: 100%;
}