.infoStyleTxt {
    width: 100%;
    align-items: center;
    margin-top: 30px;
    font-size: 18px;
}

.description {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
}

#imgInfoApi {
    width: 250px;
    height: 350px;
    background: none;
}
