.navbarStyle {
    display: inline-table;
    letter-spacing: 8px;
}


.navbarStyle a {
    font-weight: bold;
    font-style: normal;
    color: wheat;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
    -webkit-text-stroke: 1px black;
}

.navbarCart {
    color: wheat;
    /*-webkit-text-stroke: 1px black;*/
    float: right;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 5px;
}


.navbarCart a {
    font-weight: bold;
    font-style: normal;
    color: wheat;
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

.navImg {
    position: relative;
    left:0;
    top:0;
    width:100%;
    background-image: url('/navBarImg.jpg');
    min-height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cartIcon {
    /*visibility: hidden;*/
    height: 50px;
    width: 50px;
    opacity: 0.8;
}